<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prakalpa Achivement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap/bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/homepage_1.css">
    <link rel="stylesheet" href="css/owl.carousel.css">


    <script src="js/owl.carousel.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="bootstrap/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <style>
        body{
            background-image: url('images/homepage/edu_rover_large.jpg');

            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }



    </style>

</head>
<body>
<!-- header -->
<div>
    <nav class="navbar navbar-expand-md navbar-light bg-transparent">
        <a href="#" class="navbar-brand">
            <img src="images/homepage/Logotrans_1.png" height="70">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="homepage.html" class="nav-item nav-link " style="font-size: 120%">Home</a>
                <a href="about.html" class="nav-item nav-link " style="font-size: 120%">About</a>
                <a href="activity.html" class="nav-item nav-link" style="font-size: 120%">Activity</a>
                <a href="achivement.html" class="nav-item nav-link active" style="font-size: 120%">Achievemnet</a>
                <a href="blog.html" class="nav-item nav-link" style="font-size: 120%">Blog</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a href="https://www.facebook.com/search/top?q=prakalpa%20ldce" class="nav-item nav-link"><i class="fa fa-facebook"></i></a>
                <a href="https://instagram.com/ldce_prakalpa?igshid=7apyljbtndg3" class="nav-item nav-link"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/prakalpa-ldce" class="nav-item nav-link"><i class="fa fa-linkedin"></i> </a>

            </div>
        </div>

    </nav>
</div>



<!-- class -->

<div class="bs-example">
    <h1>sdfs</h1>
</div>


<!-- Footer -->
<section id="footer" class="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Contact us </h5>
                <p style="color: whitesmoke">L.D. College of Engineering<br>
                    Opp Gujarat University,<br>
                    Navrangpura, Ahmedabad - 380015.<br>
                    GUJARAT INDIA<br>
                    Email: prakalpa@ldce.ac.in</p>
            </div>


            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Sponserd by</h5>
                <img src="images/host/mantichostnew.png">
            </div>


            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>About Prakalpa LDCE</h5>
                <img src="images/homepage">
                <p style="color: whitesmoke">enter your text</p>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/search/top?q=prakalpa%20ldce"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://instagram.com/ldce_prakalpa?igshid=7apyljbtndg3"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/company/prakalpa-ldce"><i class="fa fa-linkedin"></i></a></li>

                </ul>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>Description</p>
                <p class="h6">© All right Reversed. | Developed by PRATIK KORAT</p>
            </div>
            <hr>
        </div>
    </div>
</section>

</body>
</html>

</body>
</html>